body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.creative{
  color: midnightblue;
}

.tile-image{
  height: 200px;
  width: 200px;
}
.main .right-card .tile-image{
  float: left;
}

.main .left-card .tile-image{
  float: left;
}

.right-card{
  width: 50%;
  float: right;
}
.left-card{
  width: 50%;
  float: left;
}
 @media(max-width: 680px){
  
.main .right-card .tile-image{
  float: left;
}

.main .left-card .tile-image{
  float: left;
}

.right-card{
  display: block;
  width: 50%;
  float: right;
}
.left-card{
   display: block;
  width: 50%;
  float: left;
}
}




