/* Don't change the existing CSS. */

.box {
  background-color: blue;
  }

p {
  color: yellow;
  margin: 0 ;
  padding: 10px;
}
 #inner{
  background-color: red;
 }

 .white-text{
  color: white;
 }

 #outer-box{
  padding: 10px;
  border: 10px solid purple;
 }